extends layout

block title 
  title Page d'acceuil

block append head
  link(rel='stylesheet', href='/styles/home.css', type='text/css')

block body
    nav.navbar
      .container-fluid
        a.navbar-brand
          img.d-inline-block.align-text-top(src='https://waisso.com/wp-content/uploads/2019/04/reddit-logo-300x225.jpg', alt='', width='30', height='24')
        a.position.navbar-brand Redeirb
        |             
        |             
        form(action='/', method='POST')
          input#site-search(type='search', name='search', placeholder='Search', size='75')
        |             
        a.navbar-brand(href='/my_account')
          img.d-inline-block.align-text-top(src='/images/account_circle_black_24dp.svg', alt='', width='30', height='24')
    |   
    |   
    |   
    |
    each post,index in posts   
      .card.container.mb-3(style='width: 28rem;')
        .card-header.card_back(style='width: 28rem;')="Posted by "+post.pseudo+", "+time[index]+" ago"
        img.card-img-top(src=post.image, alt=, width='300px', height='200px')
        |       
        .card-body.text-center
          h5.card-title= post.title
          |           
          p.card-text=post.text
          |           
          a(href=post.lien)=post.lien
        |       
        .card-footer.text-muted.card_back(style='width: 28rem;')
          p.card-text
            small.text-muted.btn.card_button Comments 
            small.text-muted.btn.card_button Share
            small.text-muted.btn.card_button Save
